@use "../../../globals.scss" as global;

.home {
   width: 75%;
   gap: global.$default-gap;
   color: global.$default-white;
   margin: global.$extra-large-gap auto;
   display: flex;
   align-items: center;
   flex-direction: column;

   h1 {
      font-size: 2.5rem;
   }

   h2 {
      color: global.$logo-color;
   }

   h1,
   h2 {
      font-weight: normal;
   }

   h1,
   h2,
   p {
      margin: 0;
   }

   button {
      border: 0;
      color: global.$default-white;
      padding: global.$default-gap;
      font-size: global.$default-font-size;
      border-radius: global.$default-border-radius;
      cursor: pointer;
      @extend %transition;

      &:hover {
         opacity: 0.8;
      }
   }

   .invites,
   .organizations,
   .visit_settings,
   .new_organization {
      width: 70%;
      padding: global.$larger-gap;
      gap: global.$extra-large-gap;
      border: global.$default-border;
      border-radius: global.$default-border-radius;
      background-color: global.$darker-background-color;
      display: flex;
      flex-direction: column;
   }

   .invite,
   .organization {
      justify-content: space-between;
      gap: global.$default-gap;
      padding: global.$default-gap 0;
      border-bottom: global.$default-border;
      display: flex;
      cursor: pointer;
      align-items: center;
      @extend %transition;
   }

   .organization>p:nth-child(1) {
      width: 10rem;
   }

   .organization:hover {
      border-bottom: global.$active-border;
   }

   .decline,
   .leave,
   .settings,
   .create_organization {
      width: 6rem;
      background-color: global.$logo-color;
   }

   .accept {
      width: 5rem;
   }

   .options {
      display: flex;
      gap: global.$default-gap;
   }

   .accept {
      background-color: global.$default-green;
   }

   .settings>a,
   .create_organization>a {
      text-decoration: none;
      padding: global.$default-gap;
      color: global.$default-white;
   }

   .action_buttons {
      display: flex;
      gap: global.$default-gap;
   }
}

@media screen and (max-width: 1000px) {
   .home {
      width: 95%;
   }
}

@media screen and (max-width: 800px) {

   .home>h2 {
      font-size: global.$larger-font-size;
   }

   .home>p {
      font-size: global.$default-font-size !important;
   }

   .invites,
   .organizations,
   .visit_settings,
   .new_organization {
      width: 95% !important;
   }

   .invite,
   .organization {
      flex-direction: column;
      align-items: flex-start !important;
   }

}