@use "../../../../globals.scss" as global;

.guide_page {
   width: 85%;
   gap: global.$default-gap;
   color: global.$default-white;
   margin: global.$default-gap auto;
   display: flex;
   flex-direction: column;

   h1,
   h2,
   h3 {
      margin: 0;
      font-weight: 500;
      padding: global.$default-gap 0;
   }

   h1 {
      border-bottom: global.$default-border;
      font-size: global.$extra-large-font-size;
   }

   h2 {
      color: global.$logo-color;
      font-size: global.$header-font-size;
      border-bottom: global.$default-border;
   }

   h3 {
      font-size: global.$larger-font-size;
      padding: 0.1rem 0;
      border-bottom: global.$default-border;
      width: max-content;
   }

   .dashboard_guide,
   .shouts_guide,
   .members_guide,
   .tasks_guide,
   .calendar_guide {
      gap: global.$default-gap;
      display: flex;
      flex-direction: column;
   }
}

@media screen and (max-width: 500px) {
   .guide_page {
      width: 95%;
   }
}