@use "../../globals.scss" as global;

.signup_page {
   padding-bottom: global.$extra-large-gap;
   min-height: calc(100dvh - #{global.$extra-large-gap});
   display: flex;
   align-items: center;
   justify-content: center;
}

.signup_form {
   width: 25rem;
   color: global.$default-white;

   h1 {
      font-size: global.$extra-large-font-size;
      text-align: center;
      font-weight: normal;
   }

   label {
      color: global.$logo-color;
      font-size: global.$larger-font-size;
   }

   &,
   .fname,
   .lname,
   .email,
   .password {
      gap: global.$extra-large-gap;
      display: flex;
      flex-direction: column;
   }

   .fname>input,
   .lname>input,
   .email>input,
   .password>input,
   .submit {
      color: global.$default-white;
      font-size: global.$default-font-size;
      font-family: global.$default-font-family;
      border-radius: global.$default-border-radius;
      outline: none;
      @extend %transition;
   }

   .fname>input,
   .lname>input,
   .email>input,
   .password>input {
      border: global.$default-border;
      padding: global.$larger-gap global.$default-gap;
      background: transparent;

      &:focus {
         border: global.$active-border;
      }
   }

   .submit {
      border: 0;
      background-color: global.$logo-color;
      margin-top: global.$extra-large-gap;
      padding: calc(global.$larger-gap + 1px) global.$default-gap;
      cursor: pointer;

      &:hover {
         opacity: 0.8;
      }
   }

   p {
      text-align: center;
   }
}

@media screen and (max-width: 500px) {
   .signup_form {
      width: 95%;
   }
}