//Colors
$logo-color: rgb(214, 50, 48);
$svg-background-black: rgb(10, 10, 10);
$darker-background-color: rgb(15, 15, 15);
$background-color: rgb(20, 20, 20);
$input-background-color: rgb(30, 30, 30);
$hover-background-color: rgba(143, 143, 143, 0.1);
$border-color: rgb(65, 65, 65);
$default-white: rgb(240, 240, 240);
$default-green: rgb(17, 152, 34);

//Numbers
$open-side-navigation-width: 15rem;
$minimized-side-navigation-width: 5rem;
$default-transition: 0.3s;
$default-border-radius: 0.5rem;


//Other
$default-border: 0.01rem solid $border-color;
$active-border: 0.01rem solid $logo-color;
$default-box-shadow: 0.1rem 0.1rem 1rem black;
$tooltip-box-shadow: 0.1rem 0.3rem 0.25rem black;

//Extensions
%transition {
   transition: $default-transition;
   -webkit-transition: $default-transition;
   -moz-transition: $default-transition;
   -o-transition: $default-transition;
}