@use "../../../app/globals.scss" as global;

.delete_user {
   top: 35%;
   left: 35%;
   width: 30%;
   z-index: 10;
   line-height: 3rem;
   color: global.$default-white;
   border: global.$default-border;
   padding: 2rem global.$extra-large-gap;
   box-shadow: global.$default-box-shadow;
   background-color: global.$background-color;
   border-radius: global.$default-border-radius;
   position: fixed;
   text-align: center;

   p {
      margin-top: 0;
   }

   span {
      display: inline !important;
      padding: global.$default-gap;
      border: global.$default-border;
      border-radius: global.$default-border-radius;
      background-color: global.$darker-background-color;
   }

   .options {
      gap: global.$extra-large-gap;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
         width: 4rem;
         padding: global.$default-gap;
         color: global.$default-white;
         border: global.$default-border;
         font-size: global.$larger-font-size;
         border-radius: global.$default-border-radius;
         cursor: pointer;
         background: none;
         @extend %transition;
      }

      button:hover {
         opacity: 0.8;
      }

      .no {
         background-color: global.$logo-color;
      }

      .yes {
         background-color: global.$default-green;
      }
   }
}

@media screen and (max-width: 700px) {
   .delete_user {
      left: 7.5%;
      width: 75%;
   }
}