@use "../../../app/globals.scss" as global;

.status_options {
   margin-top: global.$default-gap;
   border-top: global.$default-border;

   p {
      margin: 0;
      padding: global.$default-gap;
      cursor: pointer;
      text-align: center;
      @extend %transition;
   }

   .completed {
      color: global.$default-green;
   }

   .in_progress {
      color: global.$default-orange;
   }

   .not_started {
      color: global.$logo-color;
   }


   .completed:hover,
   .in_progress:hover,
   .not_started:hover {
      opacity: 0.6;
   }
}