@use "../../../globals.scss" as global;

.top_section {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 90%;
   margin: global.$extra-large-gap auto;
   gap: global.$extra-large-gap;
   color: global.$default-white;

   h1,
   h2 {
      font-weight: 500;
      margin: 0;
      padding: global.$larger-gap global.$default-gap;
      font-size: global.$header-font-size;
   }

   h1 {
      border-radius: global.$default-border-radius global.$default-border-radius 0 0;
   }

   h2 {
      background-color: global.$darker-background-color;
      border-radius: 0 0 global.$default-border-radius global.$default-border-radius;
   }

   .member_count,
   .tasks_completed,
   .upcoming_event_quantity,
   .tasks_incomplete {
      // box-shadow: global.$default-box-shadow;
      border: global.$default-border;
      border-radius: global.$default-border-radius;
   }

   .tasks_completed>h1 {
      background-color: global.$default-green;
   }

   .member_count>h1 {
      background-color: global.$default-blue;
   }

   .upcoming_event_quantity>h1 {
      background-color: global.$default-orange;
   }

   .tasks_incomplete>h1 {
      background-color: global.$logo-color;
   }
}

.bottom_section {
   width: 90%;
   margin: global.$extra-large-gap auto;
   display: grid;
   color: global.$default-white;
   grid-template-columns: repeat(3, 1fr);
   gap: global.$extra-large-gap;

   h1,
   h2,
   p {
      font-weight: 500;
      margin: 0;
   }

   h1 {
      font-size: global.$header-font-size;
      border-bottom: global.$default-border;
   }

   h2 {
      font-size: global.$larger-font-size;
   }

   .shouts,
   .tasks,
   .events,
   .guide_recom,
   .settings_recom {
      background-color: global.$darker-background-color;
      padding: global.$extra-large-gap;
      border-radius: global.$default-border-radius;
      border: global.$default-border;
      cursor: pointer;
      @extend %transition;

      &,
      .shouts_list,
      .tasks_list,
      .events_list,
      .shout,
      .task,
      .event {
         display: flex;
         flex-direction: column;
         gap: global.$default-gap;
      }

      .shout>h2,
      .task>h2,
      .event>h2 {
         color: global.$logo-color;
      }

      .shout>p>span {
         background-color: global.$background-color;
         padding: 0 0.25rem;
         border: global.$default-border;
         border-radius: global.$default-border-radius;
         background-color: global.$input-background-color;
      }

      &:hover {
         box-shadow: global.$default-box-shadow;
         border: global.$active-border;
      }
   }

}

@media screen and (max-width: 950px) {
   .top_section {
      grid-template-columns: repeat(2, auto);
   }

   .bottom_section {
      grid-template-columns: repeat(2, 1fr);

      .shouts {
         grid-column: span 2;
      }
   }
}

@media screen and (max-width: 550px) {
   .top_section {
      margin: global.$extra-large-gap auto;
      width: 95%;
      grid-template-columns: auto;
   }

   .bottom_section {
      width: 95%;
      grid-template-columns: auto;

      .shouts {
         grid-column: 1;
      }
   }
}