@use "../../../app/globals.scss" as global;

.add_user {
   top: 35%;
   gap: 2rem;
   left: 35%;
   width: 30%;
   z-index: 10;
   color: global.$default-white;
   border: global.$default-border;
   padding: 2rem global.$extra-large-gap;
   box-shadow: global.$default-box-shadow;
   background-color: global.$background-color;
   border-radius: global.$default-border-radius;
   display: flex;
   position: fixed;
   text-align: center;
   align-items: center;
   flex-direction: column;

   p {
      margin: 0;
   }

   input {
      border: 0;
      width: 85%;
      outline: 0;
      padding: global.$default-gap;
      color: global.$default-white;
      border: global.$default-border;
      font-size: global.$larger-font-size;
      border-radius: global.$default-border-radius;
      background-color: global.$darker-background-color;
   }

   .options {
      display: flex;
      gap: global.$extra-large-gap;
   }

   button {
      border: 0;
      color: global.$default-white;
      font-size: global.$larger-font-size;
      border-radius: global.$default-border-radius;
      padding: global.$default-gap global.$extra-large-gap;
      cursor: pointer;
      text-align: center;
      @extend %transition;

      &:hover {
         opacity: 0.8;
      }
   }

   .submit {
      background-color: global.$default-green;
   }

   .cancel {
      background-color: global.$logo-color;
   }
}

@media screen and (max-width: 800px) {
   .add_user {
      left: 10%;
      width: 75%;
   }
}