@use "../../../app/globals.scss" as global;

//Variables
$account_icon_size: 2rem;

.top_bar {
   gap: global.$extra-large-gap;
   border-bottom: 0.1rem solid global.$border-color;
   align-items: center;
   justify-content: space-between;

   &>* {
      @extend %transition;
   }

   h1 {
      margin: 0;
      font-size: 2.5rem;
      color: global.$default-white;
      padding: global.$extra-large-gap 2.5rem;
   }

   svg {
      width: $account_icon_size;
      height: $account_icon_size;
      color: global.$border-color;
      margin-right: 4rem;
      cursor: pointer;

      &:hover {
         color: global.$default-white;
      }
   }
}

@media screen and (max-width: 500px) {
   .top_bar>h1 {
      padding: 2rem 3rem;
      font-size: global.$header-font-size;
   }
}