@use "../../../app/globals.scss" as global;

.edit_member {
   padding: 2rem;
   grid-template-columns: repeat(3, 1fr) 0.75fr;
   color: global.$default-white;
   background-color: global.$darker-background-color;
   display: grid;
   border-top: global.$default-border;
   z-index: 5;
   grid-column: 1 / span 4;
   left: 25%;

   div {
      margin: auto;
   }

   .name,
   .email,
   .role {
      font-size: global.$larger-font-size;
      width: calc(100% - global.$extra-large-gap);
      display: flex;
      flex-direction: column;

      input,
      select {
         border: 0;
         margin-top: 0.75rem;
         color: global.$default-white;
         padding: global.$default-gap;
         border: global.$default-border;
         font-size: global.$default-font-size;
         border-radius: global.$default-border-radius;
         background-color: global.$darker-background-color;
         outline: none;
      }

      input:focus,
      select:focus {
         border: global.$active-border;
      }
   }

   .buttons {
      height: 100%;
      gap: global.$default-gap;
      display: flex;
      align-items: last baseline;

      button {
         color: global.$default-white;
         font-size: global.$default-font-size;
         border-radius: global.$default-border-radius;
         padding: global.$default-gap global.$extra-large-gap;
         border: none;
         cursor: pointer;
         @extend %transition;
      }

      .cancel {
         background-color: global.$logo-color;
      }

      .cancel:hover,
      .update:hover {
         opacity: 0.8
      }

      .update {
         background-color: global.$default-green;
      }
   }
}

@media screen and (max-width: 1050px) {
   .edit_member {
      gap: global.$extra-large-gap;
      grid-template-columns: auto auto;
   }

}

@media screen and (max-width: 500px) {
   .edit_member {
      row-gap: 2rem;
      grid-template-columns: auto;

      div {
         width: 100%;
      }
   }
}