@use "../../../app/globals.scss" as global;

.priority_options {
   margin-top: global.$default-gap;
   border-top: global.$default-border;
   border-radius: global.$default-border-radius;

   p {
      margin: 0;
      padding: global.$default-gap;
      background-color: global.$darker-background-color;
      cursor: pointer;
      @extend %transition;
   }

   .low {
      color: global.$default-green;
   }

   .medium {
      color: global.$default-orange;
   }

   .high {
      color: global.$logo-color;
   }


   .low:hover,
   .medium:hover,
   .high:hover {
      opacity: 0.6;
   }
}