@use "../../../globals.scss" as global;

.update_settings {
   width: 75%;
   gap: global.$default-gap;
   color: global.$default-white;
   margin: global.$default-gap auto;
   display: flex;
   flex-direction: column;
   @extend %general-formats;


   .button_options {
      gap: 0;
      flex-direction: row;

      .active {
         border: global.$default-border;
         background-color: global.$logo-color;
      }

      .inactive {
         border: global.$default-border;
         background-color: global.$darker-background-color;
      }

      .save {
         border: 0;
         background-color: global.$default-green;
         border-radius: global.$default-border-radius;
      }

      .cancel {
         border: 0;
         background-color: global.$logo-color;
         border-radius: global.$default-border-radius;
      }
   }

   .submission_buttons {
      gap: global.$default-gap;
   }
}

.admin_update_settings {
   width: 75%;
   gap: global.$default-gap;
   color: global.$default-white;
   margin: global.$default-gap auto;
   display: flex;
   flex-direction: column;
   @extend %general-formats;

   .organization_name>input {
      width: 50%;
   }

   .role_to_add {
      gap: global.$default-gap;
      display: flex;

      input {
         width: 40%;
      }

      .add_role {
         border: 0;
         background-color: global.$default-green;
         border-radius: global.$default-border-radius;
      }
   }

   .role_list {
      border: global.$default-border;
   }

   .top_area {
      gap: 2rem;
      padding: global.$default-gap;
      border-bottom: global.$default-border;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      input {
         width: 50%;
      }
   }

   .roles {
      padding: global.$default-gap;

      details {
         padding: global.$default-gap;
         border: global.$default-border;
         border-radius: global.$default-border-radius;
         background-color: global.$darker-background-color;
      }

      summary {
         cursor: pointer;
         @extend %transition;
      }

      summary:hover {
         color: global.$logo-color;
      }

      details>.role_permissions>div {
         flex-direction: row;
         align-items: center;
      }

      .role_permissions>div>input[type="checkbox"] {
         width: 1.25rem;
         height: 1.25rem;
         appearance: none;
      }

      .role_permissions>div>input:not(:checked) {
         border-radius: 0;
         border: global.$default-border;
         background-color: global.$darker-background-color;
      }

      .role_permissions>div>input:checked {
         border: 0;
         border-radius: 0;
         background-color: global.$logo-color;
      }

      .role_permissions>.delete_role>button {
         border: 0;
         background-color: global.$logo-color;
         border-radius: global.$default-border-radius;
         width: max-content;
      }
   }

   .admin_button_options {
      flex-direction: row;

      button {
         border: 0;
         border-radius: global.$default-border-radius;
      }

      .admin_cancel {
         background-color: global.$logo-color;
      }

      .admin_update {
         background-color: global.$default-green;
      }
   }
}

@media screen and (max-width: 700px) {

   .update_settings,
   .admin_update_settings,
   .organization_information>.organization_name>input {
      width: 95%;
   }

   .add_roles>.role_to_add>input,
   .role_list>.top_area>.role_search {
      width: 75%;
   }
}

%general-formats {
   h1 {
      margin: 0;
      font-weight: 500;
      padding-bottom: global.$default-gap;
      border-bottom: global.$default-border;
      font-size: global.$extra-large-font-size;
   }

   h2 {
      margin: 0;
      font-weight: 500;
      font-size: global.$header-font-size;
   }

   p {
      margin: 0;
   }

   div {
      gap: global.$default-gap;
      padding: global.$default-gap 0;
      display: flex;
      flex-direction: column;
   }

   input {
      color: global.$default-white;
      padding: global.$default-gap;
      border: global.$default-border;
      font-size: global.$default-font-size;
      font-family: global.$default-font-family;
      border-radius: global.$default-border-radius;
      background-color: global.$darker-background-color;
      outline: none;
      @extend %transition;

      &:focus {
         border: global.$active-border;
      }
   }

   button {
      width: 5rem;
      padding: global.$default-gap;
      color: global.$default-white;
      font-size: global.$default-font-size;
      cursor: pointer;
      @extend %transition;
   }

   button:hover {
      opacity: 0.8;
   }
}