@use "../../globals.scss" as global;

.login_page {
   padding-bottom: global.$extra-large-gap;
   min-height: calc(100dvh - #{global.$extra-large-gap});
   display: flex;
   align-items: center;
   justify-content: center;
}

.login_form {
   width: 25rem;
   color: global.$default-white;

   h1 {
      font-size: global.$extra-large-font-size;
      text-align: center;
      font-weight: normal;
   }

   label {
      color: global.$logo-color;
      font-size: global.$larger-font-size;
   }

   a {
      margin: 0;
      color: global.$default-white;
      @extend %transition;

      &:hover {
         color: global.$logo-color;
      }
   }

   a,
   p {
      font-size: global.$default-font-size;
   }

   h1,
   p {
      margin: 0;
   }


   &,
   .email,
   .password {
      gap: global.$extra-large-gap;
      display: flex;
      flex-direction: column;
   }

   .email>input,
   .password>input,
   .submit {
      color: global.$default-white;
      font-size: global.$default-font-size;
      font-family: global.$default-font-family;
      border-radius: global.$default-border-radius;
      outline: none;
      @extend %transition;
   }

   .email>input,
   .password>input {
      background: transparent;
      border: global.$default-border;
      padding: global.$larger-gap global.$default-gap;

      &:focus {
         border: global.$active-border;
      }
   }

   .submit {
      border: 0;
      margin-top: global.$extra-large-gap;
      background-color: global.$logo-color;
      padding: calc(global.$larger-gap + 1px) global.$default-gap;
      cursor: pointer;

      &:hover {
         opacity: 0.8;
      }
   }

   .bar {
      width: 100%;
      height: 0.01rem;
      background-color: global.$border-color;
   }
}

@media screen and (max-width: 500px) {
   .login_form {
      width: 95%;
   }
}